/* CSS Entry Point */
@import 'font-awesome';

$header-green: #87BD00;
$header-green-border: #6A9D00;
$gray-border: #E5E5E5;
$contact-header: #ABD069;
$contact-header-border: #A1CC56;

*, *:before, *:after{
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
}

div, ul, li{
	font-family: Arial;
}

.app{
	margin: 45px;
	max-width: 425px;
}

.list-view{
	border: 1.5px solid $gray-border;
}

.title{
	border-bottom: 2px solid $header-green-border;
	background-color: $header-green;
	h3{
		padding: 15px 0 15px 4px;
		margin-left: 15px;
		font-weight: lighter;
		letter-spacing: 1px;
		color: white;
	}
}

.fullContactList ul li {
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
		&:not(:last-child){
		border-bottom: 1.5px solid $gray-border;
		}
		p{
		font-size: 14px;
		letter-spacing: .25px;
		}
		img{
		border-radius: 50%;
		margin-right: 15px;
		}
}

.single-view{

}

.avatar{
	border-bottom: 2px solid $contact-header-border;
	background-color: $contact-header;
	height: 150px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	img{
		border-radius: 50%;
	}
	i{
	position: absolute;
	top: 15px;
	left: 15px;
	}
}

.info ul li{

}

